/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ANIMAÇÕES */

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px
    }

}

/* RESPONSIVIDADE */
@media screen and (max-width: 1020px) {

    /* BOTÃO MENU MOBILE */

    .interface .logo {
        display: none;
    }

    
section.topo-do-site img{
    
    padding-bottom: 45%;
    /* background-color: #00FF08; */
    position: absolute;
    margin-top: 50%;



}
}