<footer>
    <div class="interface">
        <div class="line-footer">
            <div class="flex">
                <div class="logo-footer">
                    <!-- <img src="../../../assets/images/logo-jean.jpg" alt="logo da agência"> -->
                </div><!--logo-footer-->
                <!-- <div class="btn-social">
                    <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                    <a href="#"><button><i class="bi bi-youtube"></i></button></a>
                    <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                </div>btn-social -->
            </div><!--flex-->
        </div><!--line-footer-->

        <div class="line-footer borda ">
            <p><i class="bi bi-envelope-fill">

            </i> 
            
            <a href="mailto: contato@3msolutions.com"> contato@3msolutions.com</a></p>
            <h3> <p>Contato: (86) 9 9940 - 5161</p></h3>
        </div><!--line-footer-->
    </div><!--interface-->
</footer><!--footer-->