

<header>
    <div class="interface">
        <!-- <div class="logo">
            <a href="">
                <img src="../../../assets/images/logomarca.png" alt="logo">
                 </a>
        </div> -->
        <nav class="menu-desktop">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#especialidades">Nossos serviços</a></li>
                <li><a href="#formulario">Fale conosco</a></li>
            </ul>
        </nav><!--nav-->
        <div class="btn-contato">
            <a href="https://wa.me/5586999405161?text=Ol%C3%A1%21+V%C3%AD+seu+contato+no+Site%2C+gostaria+de+falar+com+voc%C3%AA%21" target="_blank">
                <button>Contato</button>
            </a>
        </div> btn-contato
    </div> <!-- interface-->
</header>
