<section class="formulario" id="formulario">
    <div class="interface">
        <h2 class="titulo">FALE <span>CONOSCO</span></h2>
        <form action="">
            <input type="text" name="" id="" placeholder="Seu nome completo" required>
            <input type="text" name="" id="" placeholder="Seu E-mail" required>
            <input type="text" name="" id="" placeholder="Seu celular">
            <textarea name="" id="" placeholder="Sua mensagem" required></textarea>
            <div class="btn-enviar"><input type="submit" value="ENVIAR"></div>
        </form>
        
    </div><!--inteface-->
    
    
</section><!--formulário-->


<div class="line-footer borda ">

