<section class="especialidades" id="especialidades">
    <div class="interface">
        <h2 class="titulo"><span>NOSSOS </span>SERVIÇOS</h2>
        <div class="flex">

         <!-- Serviços Administrativos -->
<div class="especialidades-box">
    <i class="bi bi-file-earmark-text"></i> <!-- Ícone representando Serviços Administrativos -->
    <h3>Serviços Administrativos</h3>
    <ul>
        <li>Emissão eficiente de taxas do DETRAN e licenciamento.</li>
        <li>Assessoria abrangente em questões administrativas.</li>
        <li>Soluções rápidas para envio de e-mails, scanner de documentos e cópias.</li>
        <li>Resolução ágil de conflitos administrativos.</li>
        <li>Emissão de segunda via de contas e serviços de papelaria rápida.</li>
    </ul>
</div> <!--especialidades-box-->

<!-- Serviços Jurídicos -->
<div class="especialidades-box">
    <i class="bi bi-file-earmark-person"></i> <!-- Ícone representando Serviços Jurídicos -->
    <h3>Serviços Jurídicos</h3>
    <ul>
        <li>Assessoria jurídica especializada em áreas administrativas e previdenciárias.</li>
        <li>Encaminhamento e aconselhamento jurídico personalizado.</li>
        <li>Resolução estratégica de conflitos legais.</li>
        <li>Consultoria em conformidade legal.</li>
    </ul>
</div> <!--especialidades-box-->

<!-- Serviços Tecnológicos -->
<div class="especialidades-box">
    <i class="bi bi-laptop"></i> <!-- Ícone representando Serviços Tecnológicos -->
    <h3>Serviços Tecnológicos</h3>
    <ul>
        <li>Manutenção e instalação de programas para computadores, notebooks e celulares, incluindo iPhones.</li>
        <li>Gerenciamento eficaz de mídias sociais e redes sociais.</li>
        <li>Desenvolvimento personalizado de sites.</li>
        <li>Manutenção e gerenciamento de software.</li>
        <li>Suporte técnico dedicado e atendimento ágil.</li>
    </ul>
</div> <!--especialidades-box-->
 <!--especialidades-box-->
 
        </div> <!--flex-->
    </div> <!--inteface-->
</section> <!--especialidades-->
