<section class="sobre" id="sobre">
    <div class="interface">
        <h2 class="titulo"><span>NOSSA </span>EMPRESA</h2>
        <div class="flex">
            <div class="img-sobre">
                <!-- <img src="assets/images/.jpg" alt="foto sobre"> -->
            </div> <!--img sobre-->
            <div class="txt-sobre">
                <h2>3M <span>SOLUTIONS - SOLUÇÕES INTEGRADAS</span></h2>
                <p> Bem-vindo à 3M Solutions, onde a excelência se encontra com a inovação para impulsionar o seu
                    negócio a novos horizontes. Somos mais que uma empresa de soluções integradas - somos seus parceiros
                    comprometidos em simplificar e otimizar seus processos administrativos, jurídicos e tecnológicos.
                    Quem Somos:
                    Na 3M Solutions, combinamos experiência consolidada com uma abordagem moderna, oferecendo serviços
                    personalizados que se adaptam às necessidades dinâmicas do seu negócio. Nosso compromisso é ser a
                    ponte que conecta a complexidade do mundo empresarial com soluções simples e eficazes.
                    O Que Oferecemos:
                    - Administrativo: Desde a emissão de taxas do DETRAN até a resolução de conflitos administrativos,
                    oferecemos um leque completo de serviços para simplificar sua rotina empresarial.
                    - Jurídico:
                    Nossa equipe especializada em assessoria jurídica abrange áreas administrativas e previdenciárias,
                    proporcionando aconselhamento e resolução estratégica para desafios legais.
                    - Tecnológico: Do suporte técnico à gestão de mídias sociais, passando pelo desenvolvimento de sites
                    e manutenção de software, nossa abordagem tecnológica moderna mantém sua empresa na vanguarda
                    digital.
                    Nossa Missão:
                    Na 3M Solutions, acreditamos que o sucesso empresarial não é apenas sobre superar desafios, mas
                    também sobre transformar obstáculos em oportunidades. Nosso compromisso é ser a força motriz por
                    trás do seu crescimento, fornecendo soluções integradas que capacitam sua jornada rumo ao sucesso
                    sustentável.
                    Conecte-se Conosco:
                    Estamos aqui para ouvir, entender e ajudar a moldar o futuro do seu negócio. Junte-se à comunidade
                    3M Solutions no Facebook e descubra como podemos elevar juntos a sua jornada empresarial. Seu
                    sucesso é a nossa prioridade.</p>
                <div class="btn-social">
                    <a href="https://wa.me/5586999405161?text=Ol%C3%A1%21+V%C3%AD+seu+contato+no+Site%2C+gostaria+de+falar+com+voc%C3%AA%21"
                        target="_blank"><button><i class="bi bi-whatsapp"></i></button></a>
                    <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                    <a href="#"><button><i class="bi bi-youtube"></i></button></a>


                </div><!--btn-social-->
            </div> <!--txt sobre-->
        </div>
    </div> <!--interface-->
</section> <!--sobre-->