
<div class="btn-abrir-menu" id="btn-menu">
    <i class="bi bi-list"></i>
</div>
<div class="menu-mobile" id="menu-mobile">
    <div class="btn-fechar">
        <i class="bi bi-x-lg"></i>
    </div>

    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#especialidades">Nossos serviços</a></li>
            <li><a href="#formulario">Fale conosco</a></li>
        </ul>
    </nav><!--nav-->


</div><!--menu-mobile-->

<div class="overlay-menu" id="overlay-menu"></div>
